:root {
    --neon-orange: #ff6600;
    --neon-cyan: #00ffff;
}

.products-container {
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto;
    padding: 10px;
}

/* Products Section */
.products {
    margin-top: 50px;
    text-align: center;
}

.products h2 {
    color: var(--neon-orange);
    text-shadow: 0 0 6px var(--neon-orange), 0 0 12px var(--neon-orange);
    font-size: 2em;
    margin-bottom: 20px;
}

.products ul {
    list-style: none;
    padding: 0;
}

.products li {
    margin: 10px 0;
}

.products a {
    text-decoration: none;
    color: var(--neon-cyan);
    border: 1px solid var(--neon-cyan);
    padding: 8px 15px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.products a:hover {
    background-color: rgba(0, 255, 255, 0.7); /* Slight transparency */
    color: #141414;
    box-shadow: 0 0 6px rgba(0, 255, 255, 0.7);
}

.products a:focus {
    outline: 2px dashed var(--neon-cyan); /* Focus style */
    box-shadow: 0 0 15px var(--neon-cyan);
}